[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
oauth2client = "*"
requests = "~=2.23.0"
pygsheets = "~=1.1"
pyyaml = "~=5.3.1"
discord-py = "*"
pytz = "*"
pandas = "*"

[requires]
python_version = "3.8"
