[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
oauth2client = "*"
requests = "*"
pygsheets = "*"
pyyaml = "*"
discord-py = "*"
pytz = "*"
pandas = "*"

[requires]
python_version = "3.9"
